*{
    box-sizing: border-box;
}

.slick-prev:before, .slick-next:before {
    border-top: 2px solid rgba(114, 114, 114, 0.3);
    border-radius: 50%;
    font-size: 28px;
    background-color: rgba(114, 114, 114, 0.6);
}

.slick-prev, .slick-next {
    border-radius: 50%;
    margin-left: 16px;
    margin-right: 24px;
    z-index: 2;
}

.newItems {
    padding: 10px;
}

/* 

LOADING SKELETON

*/

.skeleton__img--newItems {
    background: linear-gradient(
    90deg, 
    #f0f0f0 25%, 
    #e5e5e5 50%, 
    #f0f0f0 75%
  );
    background-size: 200% 100%;
    animation: shimmer 1.5s linear infinite;
    height: 200px;
    width: 100%;
    background-color: #e5e5e5;
    border-radius: 8px;
}

.skeleton__authorImage--newItems {
    background: linear-gradient(
    90deg, 
    #f0f0f0 25%, 
    #e5e5e5 50%, 
    #f0f0f0 75%
  );
    background-size: 200% 100%;
    animation: shimmer 1.5s linear infinite;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #e5e5e5;
    margin-bottom: 12px;
}

.skeleton__title--newItems {
    background: linear-gradient(
    90deg, 
    #f0f0f0 25%, 
    #e5e5e5 50%, 
    #f0f0f0 75%
  );
    background-size: 200% 100%;
    animation: shimmer 1.5s linear infinite;
    width: 70%;
    height: 20px;
    background-color: #e5e5e5;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skeleton__price--newItems {
    background: linear-gradient(
    90deg, 
    #f0f0f0 25%, 
    #e5e5e5 50%, 
    #f0f0f0 75%
  );
    background-size: 200% 100%;
    animation: shimmer 1.5s linear infinite;
    width: 40%;
    height: 16px;
    background-color: #e5e5e5;
    border-radius: 4px;
}

@keyframes shimmer {
    0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}