*{
    box-sizing: border-box;
}

/*

LOADING STATE

*/

@keyframes shimmer {
    0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

.skeleton__explore--items {
    background: linear-gradient(
    90deg, 
    #f0f0f0 25%, 
    #e5e5e5 50%, 
    #f0f0f0 75%
  );
    background-size: 200% 100%;
    animation: shimmer 1.5s linear infinite;
    height: 400px;
    width: 100%;
    background-color: #e5e5e5;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 25px;
}